<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <% dataEror.forEach(el => { %>
            <li style="color: red;"><%= el %></li>
        <% }) %>
    </ul>
    <form action="/movies/add" method="post">
        <ul>
            <!-- Name -->
            <li>
                <label for="name">Name</label>
                <input type="text" name="name">
            </li>
            <!-- relesedYear -->
            <li>
                <label for="">Relesed Year</label>
                <input type="number" name="relesedYear">
            </li>
            <!-- genre -->
            <li>
                <label for="name">Name</label>
                <select name="genre">
                    <option value="animation">animation</option>
                    <option value="comedy">comedy</option>
                    <option value="drama">drama</option>
                    <option value="horor">horor</option>
                    <option value="religious">religious</option>
                    <option value="thriller">thriller</option>
                </select>
            </li>

            <!-- production house -->
            <li>
                <label for="productionHouse">Production House</label>
                <select name="productionHouse">
                    <option value="" selected>---SELECT---</option>
                    <% data.forEach(el => { %>
                        <option value="<%= el.ProductionHouseId %>"><%= el.name %></option>
                    <% }) %>         
                </select>
            </li>
        </ul>

        <button type="submit">Submit</button>
    </form>
</body>
</html>