<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/employees/add" method="post">
        <ul>
            <li>
                <label for="name">Name</label>
                <input type="text" name="name">
            </li>

            <li>
                <label for="position">Position</label>
                <input type="text" name="position">
            </li>

            <li>
                <label for="education">Education</label>
                <select name="education">
                    <option value="">Select</option>
                    <option value="Bachelor Degree">Bachelor Degree
                    </option>
                    <option value="Master Degree">Master Degree
                    </option>
                </select>
            </li>

            <li>
                <label for="email">Email</label>
                <input type="text" name="email">
            </li>

            <li>
                <label for="phone_number">Phone Number</label>
                <input type="text" name="phone_number">
            </li>

            <li>
                <label for="profile_picture">Profile Picture</label>
                <input type="text" name="profile_picture">
            </li>

            <li>
                <label for="age">Age</label>
                <input type="number" name="age">
            </li>
        </ul>

        <button type="submit">submit</button>
    </form>
</body>
</html>